/nbproject/private/
/build/
/dist/
tournamentfiles/Stoney Brook 2019_work.xml
pairs.ps
ratinglists/tdlista.txt
tournamentfiles/test--tourney.xml
tournamentfiles/work/test--tourney.xml
tournamentfiles/work/Undefined.xml
player.ps
results.ps
ratinglists/tdlista.txt
ratinglists/tdlista.txt
tournamentfiles/work/Undefined.xml
